<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (cartItems.length>0) { %>
            <ul>
                <% cartItems.forEach(p =>{ %>

                    <!-- When using sequelize -->
                    <li>
                        <p><%= p.title%> (<%= p.cartItem.quantity%>)</p>
                        <form action="/cart-delete-product" method="POST">
                            <input type="hidden" name="productId" value="<%= p.id %>" />
                            <button class="btn" type="submit">Delete</button>
                        </form>

                    </li>


                <% }) %>
            </ul>

        <% } else { %>
            <h1>No Products In Cart!!</h1>
        <% } %>
    </main>
    
    <%- include('../includes/end.ejs') %>
