<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length>0) { %>
        <!-- pls note = is not neing used here -->
        <div class="grid">
            <% for (let product of prods){ %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= product.title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= product.price %></h2>
                        <p class="product__description"><%= product.description %></p>
                    </div>
                    <div class="card__actions">
                        <a href="/products/<%= product.id %>" class="btn">Details</a>
                        <!-- <form action="/cart" method="POST">
                            <button class="btn" type="submit">Add to Cart</button>
                            <input type="hidden" name="productId" value="<%= product.id %>" />
                        </form>   -->

                         <!-- since we are calling add to cart multiple places, we can include it in common includes 
                        This add-to-cart.ejs will not get the product.id since products is its own property 
                        and product is its local variable inside the loop
                        so to pass the same, we can pass it as a second paramter in include-->
                        <%- include('../includes/add-to-cart.ejs', {product:product}) %>
                    </div>
                </article>
                <% } %>
        </div>
        <% } else { %>
            <h1>Product Not Found</h1>
        <% } %>
    </main>
    
<%- include('../includes/end.ejs') %>